* {
  padding: 0px;
  margin: 0px;
}

body {
  min-height: 200vh;
  background:linear-gradient(#3a92b6,#83d1e0);
  position: relative;
}

.login-box {
  width: 350px;
  height: 550px;
  /* background-image: url(../img/bac.webp);
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: -95px -520px; */
  background: linear-gradient(90deg,#06beb6,#028ea1);
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

h3 {
  text-align: center;
  color: white;
  margin-top: 125px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
}

input {
  outline: none;
}

.login-zc {
  width: 230px;
  height: 101px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
}

.login-zc > * {
  width: 100%;
  border: 0px;
}

.login-zc > input {
  padding: 18px 0px 2px 15px;
  height: 30px;
  font-size: 14px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  color: #808080;
}

.placehold{
  position: absolute;
  left: 15px;
  transition: all 0.3s;
  font-size: 14px;
  pointer-events: none;
  color: #808080;
}

.un{
  top: 20px;
}

.up{
  top: 70px ;
}

#userName:focus ~ .un,#userName:valid ~ .un{
  transform: translateY(-15px);
  color: #10324a;
  font-weight: 800;
}

#userPassword:focus ~ .up,#userPassword:valid ~ .up{
  transform: translateY(-15px);
  color: #10324a;
  font-weight: 800;
}

#inputName:focus ~ .un,#inputName:valid ~ .un{
  transform: translateY(-15px);
  color: #10324a;
  font-weight: 800;
}

#inputPassword:focus ~ .up,#inputPassword:valid ~ .up{
  transform: translateY(-15px);
  color: #10324a;
  font-weight: 800;
}

.login-zc > span {
  display: block;
  height: 1px;
  background-color: #f2f2f2;
}


.zhuche-btn{
    display: block;
    width: 230px;
    height: 50px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    border: 0px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

.zhuche-btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#login-dl{
    width: 350px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    background-color: white;
    transition: all 0.3s;
    
}

.login-dl-zhezhao{
    width: 550px;
    height: 150px;
    position: absolute;
    top:-25px;
    left: 50%;
    transform: translate(-50%,0);
    background-color: white;
    border-radius: 50%;
}

.shou{
    cursor: pointer;
}



#login-dl:hover #login-dl-bot{
    color: rgba(0, 0, 0, 0.4);
}

#login-dl-bot{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    margin: 0 auto;
    margin-top: 40px;
    transition: all 0.3s;
}

#login-dl-top{
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: -80px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    transition: all 0.3s;
    width: 100%;
    height: 50px;
    
}

#login-dl-top i{
    margin-right: 10px;
}


#welcomebox{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.wel-intem{
  text-align: center;
  text-align: center;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.6);
}

.wel-but{
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  border: 0px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  margin-top: 30px;
}

.wel-but:hover{
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.chuxian{
  display: flex !important;
}
